# DayZ SA
*.biprivatekey
user.cfg
EMUClientA.ini
EMUClientB.ini
EMUServer.ini

.vscode/
.vs/

Missions/dayzOffline.chernarusplus/storage_*

Profiles/ServerProfile/*.csv
Profiles/ServerProfile/*.cfg
Profiles/SClientAProfile/
Profiles/SClientBProfile/
Profiles/SClientCProfile/
Profiles/ServerProfile/Users/
Profiles/ServerProfile/DataCache/
Profiles/ServerProfile/BattlEye/
Profiles/ServerProfile/CommunityOnlineTools/
Profiles/ServerProfile/PermissionsFramework/Players/
Profiles/ServerProfile/PermissionsFramework/Permissions/
Profiles/ServerProfile/ExpansionMod/Logs/
Profiles/ServerProfile/ExpansionMod/Groups/
Profiles/ServerProfile/ExpansionMod/ATM/
Profiles/ServerProfile/ExpansionMod/AI/
Profiles/ServerProfile/ExpansionMod/Hardline/

*.RPT
*.log
*.ADM
*.bin
*.bak
*.pbo
*.bisign

CivilWar95/Workbench/*.cfg.bat
CivilWar95/Workbench/*.cfg.*.bat
CivilWar95/Workbench/Logs/
