user.cfg
EMUClientA.ini
EMUClientB.ini
EMUServer.ini

.vscode/
.vs/

CV95_Missions/dayzOffline.chernarusplus/storage_*
CV95_Missions/dayzOffline.chernarusplus/cv95/playerdata/
CV95_Missions/dayzOffline.chernarusplus/expansion/traderzones/
CV95_Missions/.gitattributes
CV95_Missions/.gitignore

Profiles/SClientAProfile/
Profiles/SClientBProfile/
Profiles/SClientCProfile/
Profiles/ServerProfile/*.csv
Profiles/ServerProfile/*.cfg
Profiles/ServerProfile/Users/
Profiles/ServerProfile/DataCache/
Profiles/ServerProfile/BattlEye/
Profiles/ServerProfile/CommunityOnlineTools/
Profiles/ServerProfile/PermissionsFramework/
Profiles/ServerProfile/ExpansionMod/Logs/
Profiles/ServerProfile/ExpansionMod/Groups/
Profiles/ServerProfile/ExpansionMod/ATM/
Profiles/ServerProfile/ExpansionMod/AI/
Profiles/ServerProfile/ExpansionMod/Hardline/
Profiles/ServerProfile/ExpansionMod/*.bin
Profiles/ServerProfile/@Logging/
Profiles/ServerProfile/CJ_Pass/DataBase/
Profiles/ServerProfile/EventManagerLog/

*.log
*.RPT
*.log
*.ADM
*.bin
*.bak
*.pbo
*.bisign
*.cfg.bat
*.cfg.*.bat
*.biprivatekey

CivilWar95/Workbench/Logs/
