user.cfg
EMUClientA.ini
EMUClientB.ini
EMUServer.ini

.vscode/
.vs/

Missions/dayzOffline.chernarusplus/storage_*
Missions/dayzOffline.chernarusplus/cv95/playerdata/
Missions/dayzOffline.chernarusplus/expansion/traderzones/
Missions/Tools/XML2CSV/*.xml
Missions/Tools/XML2CSV/*.csv
Missions/.gitattributes
Missions/.gitignore
Missions/readme.md

Missions/output.csv
Missions/output.xml

Profiles/SClientAProfile/
Profiles/SClientBProfile/
Profiles/SClientCProfile/
Profiles/ServerProfile/*.csv
Profiles/ServerProfile/*.cfg
Profiles/ServerProfile/Users/
Profiles/ServerProfile/DataCache/
Profiles/ServerProfile/BattlEye/
Profiles/ServerProfile/CommunityOnlineTools/
Profiles/ServerProfile/PermissionsFramework/
Profiles/ServerProfile/ExpansionMod/Logs/
Profiles/ServerProfile/ExpansionMod/Groups/
Profiles/ServerProfile/ExpansionMod/ATM/
Profiles/ServerProfile/ExpansionMod/AI/
Profiles/ServerProfile/ExpansionMod/Hardline/
Profiles/ServerProfile/ExpansionMod/*.bin
Profiles/ServerProfile/@Logging/
Profiles/ServerProfile/CJ_Pass/DataBase/
Profiles/ServerProfile/EventManagerLog/
Profiles/ServerProfile/.gitattributes
Profiles/ServerProfile/.gitignore
Profiles/ServerProfile/readme.md
Profiles/ServerProfile/CW95/Data/online.txt
Profiles/ServerProfile/CW95/Data/discord_online.txt

*.log
*.RPT
*.log
*.ADM
*.bin
*.bak
*.pbo
*.bisign
*.cfg.bat
*.cfg.*.bat
*.biprivatekey

CivilWar95/Workbench/Logs/
